
.main-layout{
  .sidebar-left::-webkit-scrollbar{
    display: none;
  }

  .logo {
    height: 32px;
    margin: 16px;
    background: gray;
  }
  .header{
    padding: 0;
    background: #ffffff;
    position: fixed;
    z-index: 99;
    right: 0;
    left:0;
    box-shadow: 0px 2px 2px #E6E6E6;
  }
  .header-mobile{
    height: 50px;
  }
  .content {
    margin-top: 50px;
    padding-bottom: 20px;
    background-color: #F7FAFC;
  }
  .footer-mobile{
    background: #ffffff;
    position: fixed;
    z-index: 99;
    right: 0;
    left:0;
    bottom: 0;
    border-top-width: 0.3px;
    border-top-color: #cfcdcd;
  }
}
