
.main-layout{
  .sidebar-left::-webkit-scrollbar{
    display: none;
  }

  .logo {
    height: 32px;
    margin: 16px;
    background: gray;
  }
  .header{
    padding: 0;
    background: #0082c8;
    position: fixed;
    z-index: 99;
    right: 0;
    left:0;
    //box-shadow: 0px 2px 14px #E6E6E6;
  }
  .content {
    margin-top: 64px;
    padding-bottom: 20px;
    background-color: #F7FAFC;
  }
}
